<!DOCTYPE html>
<html>
    <head>
        <title>Register Form</title>
    </head>

    <body>
        <h1>Customer Table</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address Line 1</th>
                <th>Address Line 2</th>
                <th>Postcode</th>
                <th>City</th>
            </tr>
            <!-- Gets mapping of all tables -->
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.Title}"></td>
                <td th:text="${customer.FirstName}"></td>
                <td th:text="${customer.LastName}"></td>
                <td th:text="${customer.EmailAddress}"></td>
                <td th:text="${customer.PhoneNumber}"></td>
                <td th:text="${customer.AddressLine1}"></td>
                <td th:text="${customer.AddressLine2}"></td>
                <td th:text="${customer.Postcode}"></td>
                <td th:text="${customer.City}"></td>
            </tr>
        </table>

        <br> <br>
        <h1>Customer Form</h1>
        <form action="/addCustomer" method="post" onsubmit="return validateForm()">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="firstName">First Name:</label><br>
            <input type="text" id="firstName" name="first_name"><br>
            <label for="lastName">Last Name:</label><br>
            <input type="text" id="lastName" name="last_name"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email_address"><br>
            <label for="phoneNumber">Phone Number:</label><br>
            <input type="text" id="phoneNumber" name="phone_number"><br>
            <label for="addressLine1">Address Line 1:</label><br>
            <input type="text" id="addressLine1" name="address_line_1"><br>
            <label for="addressLine2">Address Line 2:</label><br>
            <input type="text" id="addressLine2" name="address_line_2"><br>
            <label for="postcode">Postcode:</label><br>
            <input type="text" id="postcode" name="postcode"><br>
            <label for="city">City:</label><br>
            <input type="text" id="city" name="city"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>



<script>
    function validateForm() {
        var title = document.getElementById("title").value;
        var firstName = document.getElementById("firstName").value;
        var lastName = document.getElementById("lastName").value;
        var email = document.getElementById("email").value;
        var phoneNumber = document.getElementById("phoneNumber").value;
        var addressLine1 = document.getElementById("addressLine1").value;
        var addressLine2 = document.getElementById("addressLine2").value;
        var postcode = document.getElementById("postcode").value;
        var city = document.getElementById("city").value;

        if (title == "" || firstName == "" || lastName == "" || email == "" || addressLine1 == "" || postcode == "" ) {
            alert("All fields must be filled out");
            return false;
        }

        if (title.length > 5) {
            alert("Title must be less than 5 characters");
            return false;
        }

        if (firstName.length > 50) {
            alert("First name must be less than 50 characters");
            return false;
        }

        if (lastName.length > 50) {
            alert("Last name must be less than 50 characters");
            return false;
        }

        var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        if (!email.match(emailPattern)) {
            alert("Email must be in the correct format");
            return false;
        }

        var phoneNumberPattern = /^\d{11}$/;
        if (!phoneNumber.match(phoneNumberPattern)) {
            alert("Phone number must be 11 digits");
            return false;
        }

        if (postcode.length > 10) {
            alert("Postcode must be less than 10 characters");
            return false;
        }

    }
</script>